@model BusinessImplementation.ClientSettings

@{
    ViewData["Title"] = "External Site";
    ViewData["NavLocation"] = "ExternalSite";
}

<style>
    #content {
        overflow: hidden;
    }

    .second-row {
        display: table-row;
        height: 100%;
        background-color: red;
        overflow: hidden;
    }

    .second-row iframe {
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
        display: block;
        overflow:hidden;
    }

    .container-fluid {
        display: table;
        empty-cells: show;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
    }

    .full-screen {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 100;
        overflow: hidden;
    }

    .full-screen-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 101;
    }

    html {
        overflow:hidden;
    }
</style>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">External Site</h1>
</div>

<button style="background-color: white" class="btn btn-circle" id="screen-btn" onclick="test()"><i style="color: #36b9cc" class="fas fa-expand-arrows-alt"></i></button>

<div class="second-row" id="screen">
    <iframe id="iframe" src="https://www1.animeshow.tv/"></iframe>
</div>

@section Scripts {


    <script src="~/js/jpopup.min.js"></script>
    <script type="module" src="https://unpkg.com/x-frame-bypass"></script>

    <script>

        var isFullScreen = false;

        function test() {
            if (isFullScreen) {
                $('#screen').removeClass("full-screen");
                $('#screen-btn').removeClass("full-screen-btn");
                $('#screen-btn').html('<i style="color: #36b9cc" class="fas fa-expand-arrows-alt"></i>');
            } else {
                $('#screen').addClass("full-screen");
                $('#screen-btn').addClass("full-screen-btn");
                $('#screen-btn').html('<i style="color: #36b9cc" class="fas fa-compress-arrows-alt"></i>');
            }

            isFullScreen = !isFullScreen;
        }

        var oldWindowOpen = window.open;
        window.open = function (url, name, features, replace) {
            // handle window.open yourself
            myIframe.src = url;
            // if you want to use functionality of original window.open call the oldWindowOpen function
            //oldWindowOpen(url, 'myName', 'myFeatures');
        }

        if (top != window) {
            top.location = window.location
        }
    </script>
}

@section Head {
    <link href='~/css/jpopup.min.css' rel='stylesheet'>
}