@model HomeOS.Controllers.AreaController.EditModel
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@(string.IsNullOrEmpty(Model.Area.GUID) ? "Add" : "Edit") Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                    </div>
                    <input type="hidden" id="guid" value="@(Model.Area.GUID)" />
                    <input type="text" id="txtAreaName" class="form-control propertyValue" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="@(Model.Area.Name)">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveArea()">Save changes</button>
            </div>
        </div>
    </div>
</div>